
  img {
    width: 50px;
    height: 50px;
  }
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 80%;
    height: 100vh;
  }
  .div1 {
    background-color: #F9F3EC;
  }
  .div2 {
    background-color: #F5E5DE;

  }
  h1 {
    text-align: center;
    font-family: "Roboto Slab", serif;
    color: #364E54;
    font-size: 30px;
  }
  h2 {
    text-align: center;
    font-family: "Roboto Slab", serif;
    height: 50px;
    color: #364E54;
    font-size: 30px;
  }
  .text1 {
    text-align: right;
    margin: 10px;
    color: #364E54;
    font-family: "Roboto Slab", serif;
  }
  .text2 {
    color: #364E54;
    text-align: left;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
  }
  .t1 { transform: translateX(-70px);
   
  }
  .t2 {transform: translateY(-37px);

  }
  .bb {
    color: white;
  border: 0;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  }
  .b1 {
    background-color: #364E54;
    transform: translateX(15px);
    position: relative;
    top: -20px;
  }
  .b2 {
    background-color: #6F6A87;
    top: -20px;
    position: relative;
    margin-right: 5%;
  }
 textarea {
    transform: translateX(15px);
    height: 100px;
    width: 95%;
    border: rgb(135, 192, 250) solid 5px;
    resize: none;
 }
 section {
    display: flex;
    justify-content:space-between ;
   
  }
  .buttons2 {
    display: flex;
 
 width: 100%;
 justify-content: flex-end;
 
  }
.b {     
    color: white;
    border: 0;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    position: relative;
   top: 20px;
}
.b3 {
    background-color: #364E54;
     margin-right: 30px;
}
.b4 {
    background-color: #D9827C;

}
h3 {
    text-align: center;
    font-family: "Roboto Slab", serif;
    height: 50px;
    color: #364E54;
    font-size: 25px;
    margin-bottom: 3px;
    position: relative;
    top: 20px;
  }
footer {
    display: flex;
    justify-content: center;
    transform: translateY(20px);
}





@media (min-width: 600px) {
    img {
      width: 50px;
      height: 50px;
    }
    body {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 1fr;
      height: 100vh;
      
    }
    .div1 {
      background-color: #F9F3EC;
    }
    .div2 {
      background-color: #F5E5DE;
  
    }
    h1 {
      text-align: center;
      font-family: "Roboto Slab", serif;
      color: #364E54;
      font-size: 30px;
    }
    h2 {
      text-align: center;
      font-family: "Roboto Slab", serif;
      height: 50px;
      color: #364E54;
      font-size: 30px;
    }
    .text1 {
      text-align: right;
      margin: 10px;
      color: #364E54;
      font-family: "Roboto Slab", serif;
    }
    .text2 {
      color: #364E54;
      text-align: left;
      font-size: 20px;
      font-family: "Roboto Slab", serif;
    }
    .t1 { transform: translateX(-70px);
     
    }
    .t2 {transform: translateY(-37px);
  
    }
    .bb {
      color: white;
    border: 0;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    }
    .b1 {
      background-color: #364E54;
      transform: translateX(15px);
      position: relative;
      top: -20px;
    }
    .b2 {
      background-color: #6F6A87;
      top: -20px;
      position: relative;
      margin-right: 5%;
      
    }
   textarea {
      transform: translateX(15px);
      height: 245px;
      width: 95%;
      border: rgb(135, 192, 250) solid 5px;
      resize: none;
   }
   section {
      display: flex;
      justify-content:space-between ;
     
    }
    .buttons2 {
      display: flex;
   
   width: 100%;
   justify-content: flex-end;
   
    }
  .b {     
      color: white;
      border: 0;
      padding: 15px;
      text-align: center;
      border-radius: 12px;
      position: relative;
     top: 20px;
     margin-right: 5%;
  }
  .b3 {
      background-color: #364E54;
       margin-right: 30px;
  }
  .b4 {
      background-color: #D9827C;
  
  }
  h3 {
      text-align: center;
      font-family: "Roboto Slab", serif;
      height: 50px;
      color: #364E54;
      font-size: 25px;
      margin-bottom: 3px;
      position: relative;
      top: 65px;
    }
  footer {
      display: flex;
      justify-content: center;
      transform: translateY(75px);
     
  }
  
  
  
  }
  
  
